# Core Dependencies
requests
pyyaml
python-dotenv

# Data Processing
pandas
numpy
# Machine Learning
torch
scikit-learn

# Data Validation
pandera


# MLflow
mlflow
boto3

kfp
kubernetes


evidently


# Additional utilities
tqdm
matplotlib
seaborn